/* Input row for small screens */
.input-row {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

/* Bars for visualization */
.array-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-x: auto;
  padding: 1rem;
  min-height: 50px;
  border: 1px solid #54428e;
  border-radius: 8px;
  background: #fcf7ff;
}

.array-bar {
  height: 30px;
  background-color: #72a1e5;
  border-radius: 6px;
  transition: background 0.3s;
  min-width: 10px; /* ensure small numbers are visible */
}

.array-bar-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.array-bar.current {
  background-color: #1e0a74;
}

.array-bar.max {
  background-color: #54428e;
  color: #fcf7ff;
}

.bar-label {
  width: 30px;
  text-align: right;
  font-weight: bold;
  color: #14110f;
}


/* Responsive adjustments */
@media (max-width: 480px) {
  .array-bar {
    height: 25px;
  }
  .bar-label {
    width: 25px;
    font-size: 0.8rem;
  }
}
